
header {
    padding: 10px;
    display: flex;
    background-color: rgb(173, 72, 143);
}

nav {
    margin: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #070707;

    margin: 0 1rem;
    padding: 0.4rem;
}

header nav ul li a:hover {
    color: rgb(225, 219, 224);
}

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  #nav-toggle {
    display: none;
}

.toggle-input {
    display: none;
    z-index: 1;
}

.hamburgermenu {
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.open-menu {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.closed-menu {
    visibility: hidden;
    opacity: 0;
}

@media(max-width:700px) {
    .toggle-input {
        display: block;
        margin: auto;
    }

    header nav ul {
        display: none;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
    }

    header nav li {
        padding-top: 2rem;
    }

    .open {
        display: block;
        position: fixed;
        background-color: rgba(185, 128, 164, 0.904);
        z-index: 1;
        color: black;
        font-size: large;

    }
}
